<div class="page-header"> 
  <h1 class="text-primary">Upload successful <%=@aboutme.name%>.  File now on your Google Drive!%></h1>
</div>
<%=link_to "return", google_main_path, class: 'btn btn-default'%>