<html>
    <%= stylesheet_link_tag "static_pages" %>
    <head>
        <title>You::Drive</title>
    </head>
    <body>
        <div class="header">
            <div id="title">
                <h1>ABOUT U:</h1>
            </div>
        </div>
        <div class="middle_auto">
            <div class="static_container">
                <h3>WHAT is YouDrive?</h3>
                <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat.</p>
                <br>
                <h3>HOW do I get started with YouDrive?</h3>
                <p class="left"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat.</p>
                <br>
                <h3>WHY was YouDrive created?</h3>
                <p class="left">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat."</p>
            </div>
        </div>
        <div class="footer">
            <ul>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Help", help_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
            </ul>
        </div>
    </body>
</html>

