<html>
    <%= stylesheet_link_tag "static_pages" %>
    <head>
        <title>You::Drive</title>
    </head>
    <body>
        <div class="header">
            <div id="title">
                <h1>CONTACT</h1>
            </div>
            
        </div>
        <div class="middle">
            <div id="copy">
                <p>Questions, comments and concerns can be directed to <a 
                href="mailto:youdrive.sfu@gmail.com?Subject=YouDrive%20Comment" target="_top">youdrive.sfu@gmail.com</a>
                </p>
            </div>

        </div>
        <div class="footer">
            <ul>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Help", help_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
            </ul>
        </div>
    </body>
</html>

