<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "static_pages" %>
    <head>
        <title>You::Drive</title>
    </head>
    <body>
        <div class="head">
            <div id="title">
                <h1>LET US HELP U:</h1>
            </div>
            
        </div>
        <div class="middle_auto">
            <div class="static_container">
                <p class="question">How can I print my files?</p>
                <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat.</p>
                <br>
                <p class="question">I'm a faculty member, can I still use YouDrive?</q>
                <p class="left"> Absolutely! If you have an SFU email address and login credentials,
                then no matter who you are, you can browse your files on U:.</p>
                <br>
                <p class="question">Are my SFU/Dropbox/Google Drive credentials safe?</p>
                <p class="left">Your SFU credentials are used only to identify you display your files, not for 
                any other purpose (i.e. advertising etc). Your information will not be distributed to any 
                third party.</p>
            </div>
        </div>
        <div class="footer">
            <ul>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Help", help_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
            </ul>
        </div>
    </body>
</html>

