<html>
    <%= stylesheet_link_tag "static_pages" %>
    <head>
        <title>You::Drive</title>
    </head>
    <body>
        <div class="header">
            <div id="title">
                <h1>Welcome to YouDrive</h1>
            </div>
            
        </div>
        <div class="middle">
            <div id="signup_link">
                <p><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></p>
            </div>
        </div>
    </body>
</html>

