<h1>Welcome to YouDrive</h1>
<p class="text-center"><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></p>
<p class="text-center"><%= link_to "Dropbox Directory", dropbox_listfiles_path, class:"btn btn-success"%></p>