<div class="page-header"> 
  <h1 class="text-primary">Upload successful <%=@account_info['display_name']%>.  File now on your dropbox!%></h1>
</div>
<%=link_to 'Back to Directory', dropbox_listfiles_path,  class: "btn btn-default"%>