// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

html, body{

}

.col-md-4{
    background-color:white;
}


div.head{
    background-image: asset-data-url("grid-noise.png");
    color: #ffffff;
    text-align: center; 
    height: 250px;
    position: relative;
    margin:0px;
    padding:0px;
}
            
div.middle{
    background-image: asset-data-url("school-tile4.png");
    width:100%;
    height: 300px;
    position:relative;
}

div.middle_auto{
    background-image: asset-data-url("school-tile4.png");
    width:100%;
    height: 730px;
    position:relative;  
}

div.middle_nopic{
    width:100%;
    height: auto;
    position:relative;  
}

div#title{
    position:absolute;
    width:100%;
    bottom: -16px;
}

div#signup_link{
    position:absolute;
    top:60px;
    margin: 0 auto;
    width:100%;
    
}

div.footer{
    background-image: asset-data-url("binding_dark.png");
    text-align: center;
    font-weight:200;
    height: 60px;
    width:100%;
    margin: 0 auto;
}

.footer a{
    color:#ffffff;
    text-transform:lowercase;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#copy{
    color: #b5111b;
    font-weight: 600;
}

.navbar{
    padding-bottom: 0px;
}

.navbar a{
    color:#ffffff;
}

.navbar a:hover{
    color: black;
}

.static_container{
    margin:0 auto;
    width:420px;
    position:relative;
    top:30px;
    border: solid #b5111b 2px;
    background-color: #ffffff;
    border-radius:15px;
    padding:10px;
    
}

.btn{
    color: #b5111b;
    border: solid #b5111b;
    background-color: #ffffff;
    
}

.btn:hover{
    color:#ffffff;
    background-color: #b5111b;
    border: solid #ffffff;
}

p{
    text-align: center;
}

p.left{
    text-align: left;
}

p.question{
    color: #000000;
    font-weight: 700;
    text-transform: italic;
    
}

.file-list p {
    text-align: left;
}
