<footer class="footer">
  <small>
    CMPT 276 Group 3
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.sfu.ca/">SFU News</a></li>
    </ul>
  </nav>
</footer>